*{
    margin:0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

.swiggy-logo{
    width: 150px;

    }
    .first-part{
        height:540px;
        display: flex;
        /* background-color: lightblue; */
        justify-content: space-between;
        padding-left:35px;
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top:65px;
        flex-shrink: 0;
        padding-bottom:70px;
    }
    .login-signup{
        font-family: 'Montserrat', sans-serif;
        font-size:14px;
        display: flex;
        align-items: center;
        padding-right: 35px;
        gap:30px;
        font-weight: 600;
    }

    .sign-up-button{
        font-family: 'Montserrat', sans-serif;
        width:100px;
        height: 40px;
        background-color: black;
        color:white;
        font-weight: 700;
        border-width: 0;
        margin-left:15px;
        cursor: pointer;

    }
    .page-image{
        object-fit: cover;
        height: 540px;
    }
    .hungry{
        line-height: 1.4;
        padding-bottom: 45px
        
    }
    .location-section{
        padding-bottom:30px;
        
    }
    .location-bar{
        width:483px;
        height:54px;
        border-radius: 0px;
        border-width:1px;
        border-style: solid;
        
        
    }
    .location-bar{
        color:rgb(107, 107, 107);
        font-weight: 490;
        padding-left: 20px;
        font-size:15px;
        outline: none;
    }
    .location-bar:focus{
        border: 1px solid #fc8019;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.15);
    }
    .find-food-button{
        width:120px;
        height:58px;
        border-radius: 0;
        border-width:0;
        margin-left:-5px;
        background-color:#fc8019;
        color: white;
        font-weight: 600;
        text-align: center;
    }
    .login-page span{
        color: rgb(118, 117, 117);
    }
    .cities{
        color: rgb(138, 104, 104);
        padding-bottom: 20px;
        
    }
    .login-text:hover{
        color:#fc8019;
        cursor: pointer;
    }